<body>
	<textarea id='salida'></textarea>
	<script>
		//var p="<audio src='\\Tmp\\Wav\\#X#.wav' id='n#X#' preload></audio>";
		var p="<audio src='#X#.mp3' id='n#X#' preload></audio>";
		var r="";
		for(var i=21;i<=108;i++){
			r+=p.replace(new RegExp('#X#','g'),i+"")+"\r";
		}
		document.getElementById('salida').value=r;
		document.getElementById('salida').focus();
	</script>
</body>